---
import Link from '@/components/link.astro'
import type { CollectionEntry } from 'astro:content'

interface Props {
  project: CollectionEntry<'projects'>
}

const { project } = Astro.props

const projectDate = new Date(project.data.startDate).getFullYear()
---

<div class="project-card group relative">
  <div class="grow">
    <div class="flex items-center justify-between">
      <div class="mb-1 flex items-center gap-x-2">
        <Link
          href={project.data.link}
          class="flex flex-col gap-4 sm:flex-row"
          external={project.data.link.startsWith('http')}
        >
          <h3
            class="after:bg-foreground relative font-medium after:absolute after:bottom-0 after:left-0 after:h-[1px] after:w-0 after:origin-bottom-left after:transition-all after:duration-300 hover:after:w-full hover:after:origin-bottom-right"
          >
            {project.data.name}
          </h3>
        </Link>
        •
        <span class="text-muted-foreground text-sm">{projectDate}</span>
      </div>
    </div>
    <p class="text-muted-foreground text-sm">
      {project.data.description}
    </p>
  </div>
</div>
