---
import Aside from '@/components/aside-navigation.astro'
import AuthorCard from '@/components/author-card.astro'
import PageHead from '@/components/page-head.astro'
import Layout from '@/layouts/layout.astro'
import { getAllAuthors } from '@/lib/data-utils'

const authors = await getAllAuthors()
---

<Layout class="relative max-w-7xl px-4 pt-16">
  <PageHead slot="head" title="Authors" />
  <main
    class="relative grid grid-cols-1 items-start gap-4 md:grid-cols-4 md:gap-8 lg:grid-cols-[1fr_35rem_1fr]"
  >
    <Aside />
    <div class="space-y-4">
      {
        authors.length > 0 ? (
          <ul class="flex flex-col gap-4">
            {authors.map((author) => (
              <li>
                <AuthorCard author={author} />
              </li>
            ))}
          </ul>
        ) : (
          <p class="text-muted-foreground">No authors found.</p>
        )
      }
    </div>
  </main>
</Layout>
