---
import CraftLayout from '@/layouts/craft-layout.astro'
---

<CraftLayout craftId="custom-tab-buttons">
  <main class="mx-auto flex h-screen max-w-5xl items-center justify-center">
    <section class="craft-item__container-outer w-full">
      <div class="craft-item__container tabs-section">
        <div class="tab-btns-wrapper">
          <button data-tab-btn>Button cta</button>
          <button data-tab-btn>Button</button>
          <button data-tab-btn>Button call to action</button>
          <button data-tab-btn>Button wrapper</button>
        </div>
      </div>
    </section>
  </main>
</CraftLayout>

<script>
  function setup() {
    const tabBtns = Array.from(document.querySelectorAll('[data-tab-btn]'))
    const isMobile = () => window.matchMedia('(max-width: 768px)').matches
    const tabsWrapper = document.querySelector(
      '.tab-btns-wrapper',
    ) as HTMLDivElement
    let activeBtn =
      document.querySelector('[data-tab-btn].active') || tabBtns[0]

    tabBtns.forEach((btn) => {
      btn.addEventListener('click', () => {
        activeBtn = btn
        animatePseudoElement({
          target: tabsWrapper,
          targetCoords: tabsWrapper.getBoundingClientRect(),
          coords: btn.getBoundingClientRect(),
          index: tabBtns.indexOf(btn),
          totalBtns: tabBtns.length,
        })
      })
    })

    animatePseudoElement({
      target: tabsWrapper,
      targetCoords: tabsWrapper.getBoundingClientRect(),
      coords: activeBtn.getBoundingClientRect(),
      index: tabBtns.indexOf(activeBtn),
      totalBtns: tabBtns.length,
    })

    function animatePseudoElement({
      target,
      targetCoords,
      coords,
      index,
      totalBtns,
    }: {
      target: HTMLDivElement
      targetCoords: DOMRect
      coords: DOMRect
      index: number
      totalBtns: number
    }) {
      const { x: xParent, y: yParent } = targetCoords
      const { x, y, width, height } = coords

      const borderRadius = determineBorderRadius(index, totalBtns)

      target.style.setProperty('--x-position', `${x - xParent}px`)
      target.style.setProperty('--y-position', `${y - yParent}px`)
      target.style.setProperty('--active-tab-width', `${width}px`)
      target.style.setProperty('--active-tab-height', `${height}px`)
      target.style.setProperty('--radius', borderRadius)
    }

    function determineBorderRadius(index: number, totalBtns: number): string {
      if (index === 0) {
        return isMobile() ? '28px 28px 4px 4px' : '28px 4px 4px 28px'
      }
      if (index === totalBtns - 1) {
        return isMobile() ? '4px 4px 28px 28px' : '4px 28px 28px 4px'
      }
      return '32px'
    }

    window.addEventListener('resize', () => {
      animatePseudoElement({
        target: tabsWrapper,
        targetCoords: tabsWrapper.getBoundingClientRect(),
        coords: activeBtn.getBoundingClientRect(),
        index: tabBtns.indexOf(activeBtn),
        totalBtns: tabBtns.length,
      })
    })
  }

  document.addEventListener('astro:page-load', setup)
</script>

<style>
  button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
  }

  [data-tab-btn] {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 9999px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  .tab-btns::-webkit-scrollbar {
    display: none;
  }

  .tab-btns-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;
    line-height: 1.75rem;
    position: relative;
    border: 1px solid var(--color-border);
    background: color-mix(in oklab, var(--color-muted) 20%, transparent);
    z-index: 3;
    border-radius: 32px;
    padding: 4px;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      width: var(--active-tab-width, 0);
      height: var(--active-tab-height, 0);
      left: calc(var(--x-position, 0));
      top: var(--y-position, 0);
      background-color: hsl(0 0% 100% / 0.056);
      border: 1px solid var(--color-border);
      border-radius: var(--radius, 32px);
      transition: 0.4s all cubic-bezier(0.11, 0.78, 0.5, 0.98);
      pointer-events: none;
      z-index: 1;
      transform: translate(-1px, -1px);
    }
    * {
      z-index: 2;
      position: relative;
      cursor: pointer;
    }
  }
  [data-tab-btn].active {
    color: var(--color-foreground);
  }

  @media screen and (min-width: 768px) {
    .tab-btns-wrapper {
      flex-direction: row;
    }
  }
</style>
