---
import CraftLayout from '@/layouts/craft-layout.astro'
---

<CraftLayout craftId="portfolio-image-animation">
  <div class="project-image" id="project-image">
    <div class="project_image_inner_wrapper" id="project-image-inner-wrapper">
      <li class="project_image_item">
        <img
          src="https://images.unsplash.com/photo-1472396961693-142e6e269027?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bmF0dXJlfGVufDB8fDB8fHwy"
          loading="lazy"
          alt=""
        />
      </li>
      <li class="project_image_item">
        <img
          src="https://images.unsplash.com/photo-1472396961693-142e6e269027?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bmF0dXJlfGVufDB8fDB8fHwy"
          loading="lazy"
          alt=""
        />
      </li>
      <li class="project_image_item">
        <img
          src="https://images.unsplash.com/photo-1472396961693-142e6e269027?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bmF0dXJlfGVufDB8fDB8fHwy"
          loading="lazy"
          alt=""
        />
      </li>
      <li class="project_image_item">
        <img
          src="https://images.unsplash.com/photo-1472396961693-142e6e269027?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bmF0dXJlfGVufDB8fDB8fHwy"
          loading="lazy"
          alt=""
        />
      </li>
      <li class="project_image_item">
        <img
          src="https://images.unsplash.com/photo-1472396961693-142e6e269027?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bmF0dXJlfGVufDB8fDB8fHwy"
          loading="lazy"
          alt=""
        />
      </li>
    </div>
  </div>
  <div class="custom-cursor" id="custom-cursor">
    <p>View</p>
  </div>
  <section class="relative min-h-screen w-screen bg-white text-black">
    <div class="container">
      <div class="portfolio_table_head">
        <span>Client</span>
        <span>Location</span>
        <span>Services</span>
        <span>Year</span>
      </div>
      <div class="projects" id="projects">
        <a href="" class="project-item">
          <img
            src="https://images.unsplash.com/photo-1472396961693-142e6e269027?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bmF0dXJlfGVufDB8fDB8fHwy"
            loading="lazy"
            alt=""
          />
          <span class="project-title">Client 01</span>
          <span class="project-location">Location</span>
          <span class="">Services</span>
          <span class="">Year</span>
        </a>
        <a href="" class="project-item">
          <img
            src="https://images.unsplash.com/photo-1472396961693-142e6e269027?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bmF0dXJlfGVufDB8fDB8fHwy"
            loading="lazy"
            alt=""
          />
          <span class="project-title">Client 02</span>
          <span class="project-location">Location</span>
          <span class="">Services</span>
          <span class="">Year</span>
        </a>
        <a href="" class="project-item">
          <img
            src="https://images.unsplash.com/photo-1472396961693-142e6e269027?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bmF0dXJlfGVufDB8fDB8fHwy"
            loading="lazy"
            alt=""
          />
          <span class="project-title">Client 03</span>
          <span class="project-location">Location</span>
          <span class="">Services</span>
          <span class="">Year</span>
        </a>
        <a href="" class="project-item">
          <img
            src="https://images.unsplash.com/photo-1472396961693-142e6e269027?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bmF0dXJlfGVufDB8fDB8fHwy"
            loading="lazy"
            alt=""
          />
          <span class="project-title">Client 04</span>
          <span class="project-location">Location</span>
          <span class="">Services</span>
          <span class="">Year</span>
        </a>
        <a href="" class="project-item">
          <img
            src="https://images.unsplash.com/photo-1472396961693-142e6e269027?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bmF0dXJlfGVufDB8fDB8fHwy"
            loading="lazy"
            alt=""
          />
          <span class="project-title">Client 05</span>
          <span class="project-location">Location</span>
          <span class="">Services</span>
          <span class="">Year</span>
        </a>
      </div>
    </div>
    <p class="credits_text">
      Inspired by <a href="https://dennissnellenberg.com/" target="_blank"
        >Dennis Snellenberg</a
      >
    </p>
  </section>
</CraftLayout>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
  body {
    font-family: 'Inter';
    background: #09090b;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .custom-cursor {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    width: 0;
    height: 0;
    border-radius: 50%;
    border: 0;
    background: #3b82f6;
    color: #fff;
    position: fixed;
    z-index: 26;
    pointer-events: none;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
      width 0.4s cubic-bezier(0.36, 0, 0.66, 0),
      height 0.4s cubic-bezier(0.36, 0, 0.66, 0);
    top: 50%;
    left: 50%;
    will-change: transform, width, height;
  }

  .custom-cursor.active {
    width: 80px;
    height: 80px;
    transition:
      width 0.4s cubic-bezier(0.34, 1, 0.64, 1),
      height 0.4s cubic-bezier(0.34, 1, 0.64, 1);
  }

  .project-image {
    z-index: 25;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -52%);
    display: block;
    left: 55%;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.39, 0.03, 0.83, 0.37);
    top: 50%;
    width: 0;
    height: 0;
    will-change: transform, width, height;
  }

  .project-image.active {
    border-radius: 0;
    width: clamp(8em, 20vw, 32em);
    transition: all 0.4s cubic-bezier(0.29, 0.9, 0.83, 1);
    height: 320px;
  }

  .project_image_inner_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
  }

  .project_image_item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    background-color: hsl(0 0 95%);

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  section {
    width: 100vw;
    min-height: 100dvh;
    background-color: white;
    position: relative;
    color: hsl(0 0 0%);
  }

  .container {
    --vertical-padding: 4rem;
    --horizontal-padding: 1rem;
    width: 100%;
    max-width: 1280px;
    padding-left: var(--horizontal-padding);
    padding-right: var(--horizontal-padding);
    padding-top: var(--vertical-padding);
    padding-bottom: var(--vertical-padding);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  @media (min-width: 601px) {
    .container {
      --vertical-padding: 6rem;
      --horizontal-padding: 2rem;
    }
  }

  .portfolio_table_head {
    display: none;
  }

  @media (min-width: 601px) {
    .portfolio_table_head {
      display: grid;
      grid-template-columns: repeat(7, minmax(0, 1fr));
      width: 100%;
      align-items: center;
      justify-content: center;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      & span {
        grid-column: span 1 / span 1;
        font-size: 1rem;
        color: hsl(0 0 50);
        letter-spacing: 0.25em;
        text-transform: uppercase;
      }

      & span:nth-child(1) {
        grid-column: span 3 / span 3;
      }
      & span:nth-child(2) {
        grid-column: span 2 / span 2;
      }
    }
  }

  .projects {
    display: flex;
    flex-direction: column;

    & .project-item {
      border-top-width: 1px;
      border-bottom-width: 0px;
      border-left-width: 0px;
      border-right-width: 0px;
      border-color: hsl(0 0 80%);
      border-style: solid;
    }
  }

  .project-item {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    justify-content: space-between;
    width: 100%;

    color: hsl(0 0 0);
    text-decoration: none;

    & * {
      transition: 0.3s all cubic-bezier(0.78, 0.03, 0.44, 0.97);
    }

    & img {
      width: 100%;
      grid-column: 1 / -1;
      max-height: 240px;
      object-fit: cover;
      object-position: center;
    }

    & span {
      font-size: 1rem;
      grid-column: span 1 / span 1;
    }

    & .project-title {
      font-size: 1.5rem;
      line-height: 2rem;
      grid-column: 1 / -1;
      margin-top: 1rem;
      font-weight: 500;
    }

    & .project-location {
      grid-column: span 2 / span 2;
      display: none;
    }

    &:hover {
      span {
        opacity: 0.5;
        transform: translateX(0.5rem);
      }
    }
  }

  @media (min-width: 601px) {
    .project-item {
      grid-template-columns: repeat(7, minmax(0, 1fr));
      align-items: center;
      justify-content: center;

      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 4rem;
      padding-bottom: 4rem;

      & img {
        display: none;
      }
      & span {
        font-size: 1.125em;
      }

      & .project-title {
        font-size: 2.25rem;
        line-height: 2.5rem;
        grid-column: span 3 / span 3;
        margin-top: 0rem;
      }
      & .project-location {
        display: block;
      }
    }
  }

  .credits_text {
    width: 100%;
    text-align: center;
    font-size: 1.25em;
    color: hsl(0 0 60);
    transition: 0.2s all ease;

    & a {
      text-decoration: none;
      color: currentColor;
      transition: 0.2s all ease;
    }

    & a:hover {
      color: hsl(0 0 0);
    }
  }
</style>

<script>
  import gsap from 'gsap'

  function setup() {
    let mm = gsap.matchMedia()

    mm.add('(min-width: 768px)', () => {
      const customCursor = document.getElementById(
        'custom-cursor',
      ) as HTMLElement
      const viewText = customCursor.querySelector('p')
      const projectImage = document.getElementById(
        'project-image',
      ) as HTMLElement

      const projects = document.getElementById('projects')

      const projectsEl = document.querySelectorAll('.project-item')
      const sliderImages = document.getElementById(
        'project-image-inner-wrapper',
      )

      projectsEl.forEach((project, index) => {
        project.addEventListener('mouseenter', () => {
          gsap.to(sliderImages, {
            y: `${index * -100}%`,
            duration: 0.5,
            ease: 'power3.inOut',
          })
        })
      })

      document.addEventListener('mousemove', (e) => {
        gsap.to(viewText, {
          duration: 0.1, // duração da animação em segundos
          x: (e.clientX - customCursor.offsetLeft) * 0.1,
          y: (e.clientY - customCursor.offsetTop) * 0.1,
          ease: 'power3.out', // tipo de easing
        })
        // Animação para customCursor
        gsap.to(customCursor, {
          duration: 0.3, // duração da animação em segundos
          left: e.clientX,
          top: e.clientY,
          ease: 'power3.out', // tipo de easing
        })

        // Animação para projectImage
        gsap.to(projectImage, {
          duration: 0.7, // duração da animação em segundos
          left: e.clientX,
          top: e.clientY,
          ease: 'power3.out', // tipo de easing
        })
      })

      projects?.addEventListener('mouseenter', () => {
        customCursor.classList.add('active')
        projectImage.classList.add('active')
      })

      projects?.addEventListener('mouseleave', () => {
        customCursor.classList.remove('active')
        projectImage.classList.remove('active')
      })
    })
  }

  document.addEventListener('astro:page-load', setup)
</script>
