---
import Aside from '@/components/AsideNavigation.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/projects/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
const completedProjects = projects.filter((project) => project.data.isCompleted)
const uncompletedProjects = projects.filter((project) => !project.data.isCompleted)
---

<Layout class="relative max-w-7xl px-0 pt-16">
  <PageHead slot="head" title="Projects" />
  <main
    class="relative grid grid-cols-1 gap-4 md:grid-cols-4 md:gap-8 lg:grid-cols-[1fr_35rem_1fr] items-start"
  >
    <Aside />
    <div class="space-y-12">
      {
        uncompletedProjects.length > 0 && (
          <section class="flex flex-col gap-y-4">
            <h2 class="text-muted-foreground text-sm font-medium">
              In progress
            </h2>
            <ul class="flex flex-col gap-4">
              {uncompletedProjects.map((project) => (
                <li>
                  <ProjectCard project={project} />
                </li>
              ))}
            </ul>
          </section>
        )
      }
      {
        completedProjects.length > 0 && (
          <section class="flex flex-col gap-y-4">
            <h2 class="text-muted-foreground text-sm font-medium">Completed</h2>
            <ul class="flex flex-col gap-4">
              {completedProjects.map((project) => (
                <li>
                  <ProjectCard project={project} />
                </li>
              ))}
            </ul>
          </section>
        )
      }
    </div>
  </main>
</Layout>
